@inherits LayoutComponentBase
<div class="center">
	@Body
</div>


@code {
	

}
<style>
	.center{
		display:flex;
		justify-content:center;
		margin:30px;
	}

	.form-center {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
