@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager navigationManager
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <div>
            <Button Clicked="SetEnglish">En</Button>
            <Button Clicked="SetRussia">Ru</Button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        if(UserServices.AuthUser == null)
        {
            navigationManager.NavigateTo("/Login");
        }
    }
    private async Task SetRussia(MouseEventArgs args)
    {
        await JS.InvokeVoidAsync("setCulture", "ru");
        StateHasChanged();
    }
    private async Task SetEnglish(MouseEventArgs args)
    {
        await JS.InvokeVoidAsync("setCulture", "en");
        StateHasChanged();

    }
}
<style>
    .filter{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    select{
        height:100%;
        margin:0 5px;
    }
    button{
        background-color:transparent;
        border-radius:10px;
    }
</style>

<script>
    function setCulture(culture) {
        document.cookie = `.AspNetCore.Culture=c=${culture}|uic=${culture}; path=/`;
        location.reload();
    }
</script>